* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f8ffff;
}

.container {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-widget {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background: rgb(0, 3, 88);
  background: linear-gradient(32deg, rgba(0, 3, 88, 1) 0%, rgba(28, 85, 148, 1) 69%, rgba(137, 182, 25, 1) 100%);
}

.weather {
  display: flex;
  gap: 5px;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
  }

  &__temperature {
    font-size: 42px;
    font-weight: 600;
  }

  &__icon {
    background-size: cover;
    width: 100px;
    height: 100px;
  }
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__input-and-ok {
    display: flex;
    gap: 8px;
  }
}

.suggest {
  border: none;
  border-radius: 3px;
  background-color: #e0e0e8;
  padding-left: 10px;
  box-sizing: border-box;

  &:hover{
    background-color: #fff;
  }

  &__suggest-popup {
    position: absolute;
    background-color: #fff;
    border: 1px solid #777;
    width: 180px;

    &_hidden {
      display: none;
    }
  }

  &__suggest-popup-item {
    font-size: 12px;
    user-select: none;
    height: 16px;

    &:hover {
      background-color: #ddd;
    }
  }
}


.button {
  background-color: #7ca2d0;
  border: none;
  border-radius: 3px;
  color: #032459;
  padding: 1px 5px;
}

.find-my-city-button {

}